<footer>
   <div class="row">
       <div class="col-8">
           <div class="row">
           <div class="col-md-4">
        <ul>SkillHive</ul>
        <ul>Teach on SkillHive</ul>
        <ul>About us</ul>
        <ul>Contact us</ul>
       </div>
       <div class="col-md-4">
        <ul>Careers</ul>
        <ul>Privacy policy</ul>
        <ul>Help and Support</ul>
        <ul>Terms</ul>
       </div>
    </div>
    </div>
       <div class="col-4">
           <img src="../../assets/logo.png" width="100px">
           <h1 style="color: #dcdfe2;">SkillHive</h1>
       </div>
       
    </div>
    <p>&copy; 2023 SkillHive. All rights reserved.</p>
</footer>