<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
    
<form style="border:1px solid whitesmoke; margin: 50px; padding: 30px;width: 400px; ">
    <h1 style="text-align: center;" >Sign-up</h1>
    <div class="container">
        <div class="form-group" >
            <label for="exampleInputUsername">Username</label>
            <input type="text" class="form-control w-60" id="exampleInputname">
          </div>
    <div class="form-group">
      <label for="exampleInputEmail">Email Id</label>
      <input type="email" class="form-control w-60" id="exampleInputEmail" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control w-60" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword2">Confirm Password</label>
        <input type="password" class="form-control w-60" id="exampleInputPassword2">
      </div>
      <div class="form-group"  style="margin-bottom:5px ;">
        <label for="exampleInputPhonenumber">Phone-Number</label>
        <input type="tel" class="form-control w-60" id="exampleInputPhonenumber">
      </div>
    <input type="button" value="Sign-up" class="btn btn-primary">
</div>
<p>Aleardy have an account? <a href="../login">Login</a></p>
  </form>
</div>
<div class="col-4"></div>
</div>
