<app-carousel></app-carousel>
<app-card></app-card>
<hr>
<div class="container">
<div class="card bg-dark text-white">
    <img src="../../assets/cardhome1.png" class="card-img" alt="..." width="70px">
    <div class="card-img-overlay">
      <p class="card-text"><q>An investment in knowledge pays the best interest.</q></p>
      <p>–  Benjamin Franklin</p>
    </div>
  </div>
  <hr>
<div class="row">
    <div class="col-8">
        <h1>Start learning with Unacademy</h1>
        <p>Get unlimited access to structured</p>
        <p style="margin-top:0 ;">courses & doubt clearing sessions</p>
        <button type="button" class="btn btn-success btn-lg">Start Learning</button>
    </div>
    <div class="col-4 w-40">
        <img src="../../assets/collage.png" alt="This image is currently unavailable">

    </div>
</div>
</div>
<hr>



